# dependencies
/node_modules
/.pnp
.pnp.js

# testing
/coverage

# production
/dist

# misc
.DS_Store
.env
.env.*.local
.vite

# local IDE settings
.vscode/
.idea/
*.suo
*.ntvs*
*.njsproj
*.sln

# logs
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# local environment files
*.local

# system
Thumbs.db
del/

.vercel
